.update-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: 300px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background: #333;
    width: 100%;
}

.form-wrapper form::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.01);
    background-image: linear-gradient(135deg, #662D8C, #ED1E79);
    z-index: -1;
    border-radius: 20px;
    filter: blur(8px);
}

.form-wrapper form:hover::after {
    filter: blur(16px);
}

label {
    width: 100%;
    padding: 10px 16px;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ED1E79;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

label input,
textarea {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #eee;
    font-weight: 500;
}

label input::placeholder {
    visibility: hidden;
}

label textarea {
    resize: none;
    height: initial;
    width: 300px;
}

label textarea::placeholder {
    visibility: hidden;
}

label input,
textarea:focus {
    outline: none;
}

.form-wrapper form button {
    width: 60%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #662D8C, #ED1E79);
    border: 0px solid transparent;
    outline: 1px solid transparent;
    padding: 8px;
    border-radius: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: 500;
    color: #222;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    position: relative;
}


.form-wrapper form button:hover {
    box-shadow: 0px 0px 8px #ED1E79;
}

@media screen and (max-width:800px) {
    .form-wrapper {
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        position: relative;
    }



    .form-wrapper form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        background: #333;
        width: 100%;
        min-height: 60%;
    }

    label {
        width: 100%;
        padding: 10px 16px;
        font-size: 1.5rem;
        font-weight: 900;
        color: #ED1E79;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    label input,
    textarea {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
        padding: 8px 8px;
        font-family: 'Roboto', sans-serif;
        background-color: #222;
        color: #eee;
        font-weight: 500;
        display: block;
        margin-top: 4px;
    }

    label textarea {
        width: 100%;
    }

    .form-container form button {
        margin-bottom: 40px;
    }

}